{% extends 'users/auth_base.html' %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
<h2 class="text-2xl font-bold text-center">Iniciar Sesión</h2>
<form method="post" class="mt-8 space-y-6">
    {% csrf_token %}
    
    {% if messages %}
        {% for message in messages %}
            {% if 'login_error' in message.tags %}
                <div class="p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg" role="alert">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <div class="rounded-md shadow-sm">
        <div>
            <label for="id_username" class="sr-only">Usuario</label>
            <input id="id_username" name="username" type="text" required class="relative block w-full px-3 py-2 text-gray-900 placeholder-gray-500 border border-gray-300 rounded-none appearance-none rounded-t-md focus:outline-none focus:ring-purple-500 focus:border-purple-500 focus:z-10 sm:text-sm" placeholder="Usuario">
        </div>
        <div>
            <label for="id_password" class="sr-only">Contraseña</label>
            <input id="id_password" name="password" type="password" required class="relative block w-full px-3 py-2 text-gray-900 placeholder-gray-500 border border-gray-300 rounded-none appearance-none rounded-b-md focus:outline-none focus:ring-purple-500 focus:border-purple-500 focus:z-10 sm:text-sm" placeholder="Contraseña">
        </div>
    </div>

    <div>
        <button type="submit" class="relative flex justify-center w-full px-4 py-2 text-sm font-medium text-white bg-purple-600 border border-transparent rounded-md group hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500">
            Iniciar Sesión
        </button>
    </div>
    <div class="text-sm text-center mt-4">
        <a href="{% url 'users:password_reset' %}" class="font-medium text-purple-600 hover:text-purple-500">
            ¿Olvidaste tu contraseña?
        </a>
    </div>
    <p class="text-sm text-center mt-4">
        ¿No tienes una cuenta? <a href="{% url 'users:register' %}" class="font-medium text-purple-600 hover:text-purple-500">Regístrate</a>
    </p>
</form>
{% endblock %}
