{% extends 'base.html' %}
{% load form_filters %}

{% block title %}{% if form.instance.pk %}Editar Ubicación{% else %}Crear Ubicación{% endif %}{% endblock %}

{% block content %}
<h1 class="text-2xl font-bold">{% if form.instance.pk %}Editar Ubicación{% else %}Crear Ubicación{% endif %}</h1>
<form method="post" class="mt-8 space-y-6">
    {% csrf_token %}
    <div class="rounded-md shadow-sm -space-y-px">
        <div>
            <label for="id_name" class="sr-only">Nombre</label>
            {{ form.name|add_attr:"relative block w-full px-3 py-2 text-gray-900 placeholder-gray-500 border border-gray-300 rounded-none appearance-none rounded-t-md focus:outline-none focus:ring-purple-500 focus:border-purple-500 focus:z-10 sm:text-sm,placeholder:Nombre de la ubicación" }}
            {% if form.name.errors %}
                <p class="text-red-500 text-xs italic">{% for error in form.name.errors %}{{ error }}{% endfor %}</p>
            {% endif %}
        </div>
        <div>
            <label for="id_address" class="sr-only">Dirección</label>
            {{ form.address|add_attr:"relative block w-full px-3 py-2 text-gray-900 placeholder-gray-500 border border-gray-300 rounded-none appearance-none rounded-b-md focus:outline-none focus:ring-purple-500 focus:border-purple-500 focus:z-10 sm:text-sm,placeholder:Dirección de la ubicación" }}
            {% if form.address.errors %}
                <p class="text-red-500 text-xs italic">{% for error in form.address.errors %}{{ error }}{% endfor %}</p>
            {% endif %}
        </div>
    </div>
    <div>
        <button type="submit" class="relative flex justify-center w-full px-4 py-2 text-sm font-medium text-white bg-purple-600 border border-transparent rounded-md group hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500">
            Guardar
        </button>
    </div>
</form>
{% endblock %}